<div class="main_center_outline">

<h3>
Daroach.net Dip into Angular Reskin (EARLY BETA)
</h3>
<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>
  |
	<a [routerLink]="['/experiments']">
    Experiments
  </a>
</nav>
  <br>
</div>
<main>
	<router-outlet></router-outlet>
</main>
<br>

<footer class="main_center_outline">
  © 2019 Gagan Daroach
</footer>
