  <h3>Gagan's Landing Page</h3>
  <div class="form-value">

    <p>A nice demo on angular data bindings.</p>
    <p>Name: {{homeForm.name}}</p>
    <p>Email: {{homeForm.email}}</p>
    <p>Phone: {{homeForm.phone}}</p>
    <p>Message: {{homeForm.message}}</p>
  </div>

  <form (ngSubmit)="uselessSubmit()" [formGroup]="homeForm" novalidate>
    <div class="form-content">
      <label>
        Name:
        <input [(ngModel)]="homeForm.name" type="text" formControlName="name" class="sd-form-control" placeholder="Enter your name.">
      </label>
      <label>
        Email:
        <input [(ngModel)]="homeForm.email" type="email" formControlName="email" class="sd-form-control" placeholder="Enter your email.">
      </label>
      <label>
        Phone:
        <input  [(ngModel)]="homeForm.phone" type="phone" formControlName="phone" class="sd-form-control" placeholder="Enter your phone.">
      </label>
      <label>
        Message:
        <textarea [(ngModel)]="homeForm.message" formControlName="message" class="sd-form-control" placeholder="Message here."></textarea>
      </label>
      <div class="form-submit">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
